#top #key .slick-dots {
  display: none !important;
}
#sec1 {
  position: relative;
  z-index: 1;
}
#sec1::before {
  content: "";
  position: absolute;
  top: 12vw;
  left: 0;
  background: url("../img/index/sec1_deco3.png") no-repeat center top/100%;
  width: 33vw;
  height: 60vw;
  z-index: 3;
}
#sec1::after {
  content: "";
  position: absolute;
  top: 70vw;
  left: -50vw;
  background: url("../img/index/sec1_deco1.png") no-repeat center top/100%;
  width: 240vw;
  height: 400vw;
  z-index: -2;
}
#sec1 .wrap::before {
  content: "";
  position: absolute;
  bottom: 58vw;
  left: -15vw;
  width: 88vw;
  height: 100vw;
  background: url("../img/index/sec1_deco5.png") no-repeat center bottom/100%;
  z-index: -1;
}
#sec1 .sec1-inner {
  padding: 25vw 0 40vw;
  position: relative;
  z-index: 1;
}
#sec1 .sec1-inner::before {
  content: "";
  position: absolute;
  bottom: 14vw;
  left: 0;
  width: 100vw;
  height: 300vw;
  background: url("../img/index/sec1_deco2.png") no-repeat center bottom/100%;
  z-index: -2;
}
#sec1 .sec1-inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80vw;
  background: var(--bg1);
  height: 35vw;
  z-index: -1;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
#sec1 .sec1-slider {
  margin: 0 0 0 15vw;
}
#sec1 .sec1-slider .slick-dots {
  flex-direction: column;
  position: absolute;
  bottom: 5vw;
  left: 4vw;
}
#sec1 .gr-txt {
  margin-top: 10vw;
}
#sec1 .ttl {
  --scale: 1.1;
  white-space: nowrap;
}
#sec1 .txt {
  margin-top: 10vw;
}
#sec1 .btn-shared {
  margin-top: 10vw;
}
#sec1 .photo {
  margin-top: 20vw;
  position: relative;
}
#sec1 .photo::before {
  content: "";
  position: absolute;
  top: -8vw;
  right: -2vw;
  background: url("../img/index/sec1_deco4.png") no-repeat center top/100%;
  width: 30vw;
  height: 50vw;
  z-index: 2;
}
.sec2-gr {
  position: relative;
  z-index: 1;
}
.sec2-gr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30vw;
  background: url("../img/shared/bg_deco1.png") repeat center top/66px auto;
  z-index: -1;
}
#sec2 .box-parallax {
  padding: 20vw 0 40vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0% 100%);
}
#sec2 .box-parallax .ttl {
  --scale: 1.2;
  color: #fff;
  position: relative;
  display: inline-block;
  letter-spacing: 0.1em;
  font-weight: 400;
}
#sec2 .box-parallax .ttl::before {
  content: "";
  background: currentColor;
  right: 0;
  left: calc(50% - 50vw);
  height: 1px;
  bottom: 0;
  position: absolute;
}
#sec2 .box-parallax .ttl::after {
  content: "";
  background: currentColor;
  right: 26vw;
  left: calc(50% - 50vw);
  height: 1px;
  bottom: -2vw;
  position: absolute;
}
#sec2 .set1 {
  margin: -14vw 5vw 0;
  position: relative;
}
#sec2 .set1::before {
  content: "";
  position: absolute;
  top: 40vw;
  left: -50vw;
  width: 256vw;
  background: url("../img/index/sec2_bg_deco.png") no-repeat center top/100%;
  z-index: -1;
  height: 400vw;
}
#sec2 .set1::after {
  content: "";
  position: absolute;
  top: 116vw;
  right: calc(50% - 50vw);
  background: url("../img/index/sec2_deco1.png") no-repeat center top/100%;
  width: 30vw;
  height: 50vw;
  z-index: 2;
}
#sec2 .set1 .sec2-slider .slick-dots {
  flex-direction: column;
  position: absolute;
  bottom: 5vw;
  left: auto;
  right: 3vw;
}
#sec2 .set1 .ttl {
  --scale: 1.1;
}
#sec2 .set1 .gr-txt {
  margin-top: 20vw;
}
#sec2 .set1 .txt {
  margin-top: 5vw;
}
#sec2 .set1 .btn-shared {
  margin-top: 10vw;
}
#sec2 .set2 {
  margin-top: 15vw;
  position: relative;
}
#sec2 .set2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 3vw;
  background: url("../img/index/sec2_deco2.png") no-repeat center top/100%;
  width: 30vw;
  height: 50vw;
  z-index: 4;
}
#sec2 .set2 .wrap {
  padding: 0;
}
#sec2 .set2 .photo1 {
  width: 60vw;
  position: relative;
  z-index: 2;
}
#sec2 .set2 .photo2 {
  margin: -15vw 0 0 auto;
  width: 85vw;
}
#sec3 {
  padding: 20vw var(--padding-wrap) 20vw;
  position: relative;
  z-index: 1;
}
#sec3::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--bg2);
  width: 80vw;
  height: 30vw;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  z-index: -1;
}
#sec3 .wrap {
  box-sizing: border-box;
  position: relative;
  padding: 20vw 10vw 15vw;
}
#sec3 .wrap::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 10px solid rgba(111, 90, 68, 0.2);
  z-index: -1;
  background: var(--bg4);
}
#sec3 .wrap::after {
  content: "";
  position: absolute;
  top: 5vw;
  right: 5vw;
  background: url("../img/index/sec3_deco1_sp.png") no-repeat center top/100%;
  width: 20vw;
  height: 40vw;
}
#sec3 .txt {
  margin-top: 6vw;
}
#sec3 .btn-shared {
  margin-top: 6vw;
}
#sec3 .btn-shared a {
  width: 100%;
}
#sec3 .photo {
  margin-top: 8vw;
}
#sec4 {
  padding: 20vw 6vw 5vw;
  color: #fff;
  background: var(--bg3);
  z-index: 1;
  position: relative;
  z-index: 3;
}
#sec4::before {
  content: "";
  position: absolute;
  bottom: 0vw;
  left: 0;
  width: 100vw;
  height: 100vw;
  background: url("../img/index/sec4_deco_sp.png") no-repeat center bottom/100%;
}
#sec4::after {
  content: "";
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  background: inherit;
  width: 100%;
  height: 15vw;
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
#sec4 .ttl {
  position: relative;
}
#sec4 .ttl::before {
  content: "";
  position: absolute;
  left: calc(50% - 50vw);
  right: calc(100% + 3vw);
  height: 1px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#sec4 .txt {
  margin-top: 8vw;
}
#sec4 .btn-shared {
  margin-top: 10vw;
}
#sec4 .btn-shared a {
  border-radius: 0;
  width: 100%;
}
#sec4 .sec4-slider {
  margin-top: 10vw;
}
#sec4 .sec4-slider .slick-dots {
  right: -7vw;
  left: unset;
}
#sec4 .social-list {
  display: flex;
  gap: 10vw;
  margin-top: 10vw;
  justify-content: center;
}
#sec4 .social-list li {
  width: 10vw;
}
#sec4 .social-list li img {
  width: 100%;
  height: auto;
}
#shopinfo {
  padding: 30vw 0 15vw;
  position: relative;
  z-index: 2;
}
#shopinfo::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  background: var(--bg1);
  width: 100%;
  height: 25vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15vw), 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15vw), 0% 100%);
}
#shopinfo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/index/shopinfo_deco1.png") no-repeat center top/100%;
  width: 140vw;
  left: -30vw;
  height: 200vw;
  z-index: -1;
}
#shopinfo .set1 {
  position: relative;
}
#shopinfo .set1::before {
  content: "";
  position: absolute;
  bottom: -40vw;
  right: 0;
  background: url("../img/index/shopinfo_deco2.png") no-repeat center
    bottom/100%;
  width: 60vw;
  height: 100vw;
}
#shopinfo .set1 .logo {
  width: 30vw;
  margin: 0 auto;
}
#shopinfo .set1 .logo-txt {
  text-align: center;
  line-height: 1.5625;
  margin-top: 7vw;
}
#shopinfo .set1 .gr-info {
  margin-top: 12vw;
}
#shopinfo .set1 .gr-info dl,
#shopinfo .set1 .gr-info .item {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #b7ada6;
  line-height: 1.6666666667;
}
#shopinfo .set1 .gr-info dl *,
#shopinfo .set1 .gr-info .item * {
  letter-spacing: 0.05em;
}
#shopinfo .set1 .gr-info dl + dl,
#shopinfo .set1 .gr-info dl.item,
#shopinfo .set1 .gr-info .item + dl,
#shopinfo .set1 .gr-info .item.item {
  margin-top: 15px;
}
#shopinfo .set1 .gr-info dl dt,
#shopinfo .set1 .gr-info .item dt {
  min-width: 100px;
}
#shopinfo .set2 {
  margin-top: 20vw;
  padding: 0 var(--padding-wrap);
}
#shopinfo .set2 .wrap {
  border: 1px solid #767676;
  box-sizing: border-box;
  z-index: 2;
  padding: 10vw 5vw 10vw;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
}
#shopinfo .set2 .ttl {
  text-align: center;
}
#shopinfo .set2 .photo {
  margin-top: 5vw;
}
#parking {
  position: relative;
  z-index: 1;
  padding: 50vw 0 30vw;
}
#parking::before {
  content: "";
  position: absolute;
  top: -20vw;
  left: 0;
  width: 120vw;
  background: url("../img/index/shopinfo_deco3.png") no-repeat center top/100%;
  z-index: -1;
  opacity: 0.23;
  height: 300vw;
}
#parking::after {
  content: "";
  position: absolute;
  top: 11vw;
  right: 4vw;
  background: url("../img/index/parking_deco1.png") no-repeat center top/100%;
  width: 30vw;
  height: 50vw;
}
#parking .bg {
  background: var(--bg-bd);
  position: absolute;
  top: 19vw;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 15vw, 100% 100%, 0 calc(100% - 15vw));
  clip-path: polygon(0 0, 100% 15vw, 100% 100%, 0 calc(100% - 15vw));
}
#parking .bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(166, 156, 122, 0.23);
}
#parking .bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30vw;
  background: url("../img/shared/bg_deco1.png") repeat center top/70px auto;
  z-index: 2;
}
#parking .ttl {
  text-align: center;
}
#parking .txt {
  margin-top: 7vw;
}
#parking .gr-img {
  margin-top: 10vw;
}
#parking .img-txt {
  text-align: center;
  --scale: 1.1;
  white-space: nowrap;
}
#parking .img-txt .txt-inner {
  background: #fff;
  line-height: 1.4;
  box-sizing: border-box;
  padding: 0 2vw;
}
#parking .map {
  margin-top: 2vw;
}
#parking .parking-slider {
  margin-top: 6vw;
}
#parking .parking-slider .slick-dots {
  left: unset;
  right: 3vw;
}
#gmap {
  padding: 15vw 0 20vw;
  position: relative;
  z-index: 1;
}
#gmap::before {
  content: "";
  position: absolute;
  top: 5vw;
  right: -25vw;
  background: url("../img/index/gmap_deco2.png") no-repeat center top/100%;
  width: 140vw;
  height: 300vw;
  z-index: -1;
}
#gmap .ttl {
  padding: 0 0 0 15vw;
  position: relative;
}
#gmap .ttl::before {
  content: "";
  position: absolute;
  top: -9vw;
  left: 0;
  background: url("../img/index/gmap_deco1.png") no-repeat center top/100%;
  width: 19vw;
  height: 40vw;
}
#gmap .map {
  height: 480px;
  filter: grayscale(1);
  margin-top: 5vw;
}
#gmap .map iframe {
  width: 100%;
  height: 100%;
}
#gmap .btn-list {
  margin-top: 7vw;
}
#gmap .btn-list .btn-map {
  text-align: center;
}
#gmap .btn-list .btn-map a {
  border-radius: 0;
  text-align: left;
}
@media (min-width: 768px) {
  #top #key::before {
    content: "";
    position: absolute;
    bottom: -29px;
    right: 0;
    background: url("../img/index/kv_deco.png") no-repeat center bottom/100%;
    width: 589px;
    height: 401px;
  }
  #top #key .photo {
    margin-right: 410px;
  }
  #top #key .slick-dots {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    bottom: 23px;
    right: 380px;
    align-items: flex-start;
    left: auto;
    transform: none;
    gap: 20px;
  }
  #top #key .slick-dots li {
    border: 1px dotted #948f86;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  #top #key .slick-dots li.slick-active {
    border-color: #948f86;
  }
  #top #key .slick-dots li.slick-active button {
    background: #d28518;
  }
  #top #key .slick-dots li button {
    border: none;
    background: #767676;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
  #sec1 {
    position: relative;
    z-index: 1;
  }
  #sec1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/index/sec1_deco3.png") no-repeat center top/100%;
    width: 303px;
    height: 323px;
    z-index: 3;
  }
  #sec1::after {
    top: -50px;
    left: 0;
    background: url("../img/index/sec1_deco1.png") no-repeat center top/100%;
    width: 1299px;
    height: 1750px;
    z-index: -2;
  }
  #sec1 .wrap::before {
    content: "";
    position: absolute;
    bottom: 313px;
    left: calc(50% - 50vw);
    width: 584px;
    height: 492px;
    background: url("../img/index/sec1_deco5.png") no-repeat center bottom/100%;
    z-index: -1;
  }
  #sec1 .sec1-inner {
    padding: 263px 20px 118px;
  }
  #sec1 .sec1-inner::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 764px;
    height: 364px;
    background: url("../img/index/sec1_deco2.png") no-repeat center bottom/100%;
    z-index: -2;
  }
  #sec1 .sec1-inner::after {
    width: calc(50% + 260px);
    height: 237px;
  }
  #sec1 .sec1-slider {
    margin: 0;
    position: absolute;
    top: 0;
    right: calc(50% - 50vw);
    left: 611px;
  }
  #sec1 .sec1-slider .slick-dots {
    bottom: 37px;
    left: 32px;
  }
  #sec1 .sec1-slider .item {
    height: 912px;
  }
  #sec1 .sec1-slider .item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  #sec1 .gr-txt {
    margin-top: 0;
    max-width: 500px;
    padding: 91px 50px 0 0;
  }
  #sec1 .ttl {
    line-height: 1.5;
    margin-left: -8px;
  }
  #sec1 .txt {
    margin-top: 54px;
    font-size: 18px;
    line-height: 1.9444444444;
  }
  #sec1 .btn-shared {
    margin-top: 68px;
  }
  #sec1 .photo {
    text-align: right;
    margin: 80px -53px 0 0;
  }
  #sec1 .photo::before {
    top: 228px;
    right: -127px;
    width: 213px;
    height: 258px;
  }
  .sec2-gr::before {
    width: 260px;
    background-size: auto;
  }
  #sec2 .box-parallax {
    padding: 170px 20px 470px;
  }
  #sec2 .box-parallax .wrap {
    max-width: 1019px;
  }
  #sec2 .box-parallax .ttl {
    display: inline-block;
    padding: 0 30px 6px 0;
  }
  #sec2 .box-parallax .ttl::before {
    right: 0;
    left: calc(50% - 50vw);
    height: 1px;
    bottom: 0;
    position: absolute;
  }
  #sec2 .box-parallax .ttl::after {
    right: 164px;
    bottom: -10px;
  }
  #sec2 .set1 {
    margin: -100px 0 0;
    position: relative;
  }
  #sec2 .set1::before {
    top: -235px;
    left: auto;
    right: 0;
    width: 1131px;
    height: 1228px;
  }
  #sec2 .set1::after {
    top: -43px;
    right: calc(50% - 50vw);
    background: url("../img/index/sec2_deco1.png") no-repeat center top/100%;
    width: 282px;
    height: 300px;
    z-index: 2;
  }
  #sec2 .set1 .wrap {
    max-width: 1281px;
  }
  #sec2 .set1 .set1-inner {
    display: flex;
    align-items: flex-end;
  }
  #sec2 .set1 .sec2-slider {
    max-width: 550px;
  }
  #sec2 .set1 .sec2-slider .slick-dots {
    bottom: 32px;
    right: 22px;
  }
  #sec2 .set1 .ttl {
    margin-left: -7px;
    white-space: nowrap;
  }
  #sec2 .set1 .gr-txt {
    margin: 0 0 0 90px;
  }
  #sec2 .set1 .txt {
    margin-top: 60px;
    line-height: 1.875;
    max-width: 500px;
  }
  #sec2 .set1 .btn-shared {
    margin-top: 63px;
  }
  #sec2 .set2 {
    margin-top: 88px;
  }
  #sec2 .set2::before {
    right: calc(50% + 300px);
    width: 224px;
    height: 241px;
    top: 61px;
  }
  #sec2 .set2 .wrap {
    padding: 0;
    max-width: 1213px;
  }
  #sec2 .set2 .photo1 {
    width: auto;
    position: relative;
    z-index: 2;
    text-align: right;
  }
  #sec2 .set2 .photo2 {
    margin: -112px 0 0 calc(50% - 384px);
    width: auto;
  }
  #sec3 {
    padding: 118px 20px 142px;
  }
  #sec3::before {
    width: calc(50% + 260px);
    height: 256px;
  }
  #sec3 .wrap {
    box-sizing: border-box;
    position: relative;
    padding: 97px 48px 97px;
    max-width: 1298px;
  }
  #sec3 .wrap::before {
    border-width: 20px;
  }
  #sec3 .wrap::after {
    top: 55px;
    left: 50px;
    right: auto;
    width: 112px;
    height: 112px;
    background: url("../img/index/sec3_deco1.png") no-repeat center top/100%;
  }
  #sec3 .inner {
    display: flex;
    justify-content: flex-end;
  }
  #sec3 .gr-txt {
    max-width: 422px;
    margin: 62px 50px 0 0;
  }
  #sec3 .txt {
    margin-top: 43px;
  }
  #sec3 .btn-shared {
    margin-top: 50px;
  }
  #sec3 .btn-shared a {
    width: 300px;
  }
  #sec3 .photo {
    margin-top: 0;
  }
  #sec4 {
    padding: 190px 20px 138px;
    z-index: 2;
  }
  #sec4::before {
    bottom: 13px;
    left: 0;
    width: 701px;
    height: 311px;
  }
  #sec4::after {
    height: 79px;
  }
  #sec4 .wrap {
    max-width: 1030px;
  }
  #sec4 .sec4-main {
    display: flex;
    flex-direction: row-reverse;
  }
  #sec4 .ttl {
    position: relative;
    letter-spacing: 0.1em;
  }
  #sec4 .ttl::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: unset;
    width: 1px;
    top: unset;
    bottom: calc(100% + 10px);
    height: 300px;
  }
  #sec4 .txt {
    margin: 9px 71px 0 0;
  }
  #sec4 .btn-shared {
    margin: 11px 57px 0 0;
  }
  #sec4 .btn-shared a {
    border-radius: 0;
    width: 100%;
    font-size: 15px;
  }
  #sec4 .gr-img {
    margin: -8px 98px 0 0;
  }
  #sec4 .sec4-slider {
    margin: 0;
    max-width: 580px;
  }
  #sec4 .sec4-slider .slick-dots {
    right: -32px;
    left: unset;
    bottom: 23px;
  }
  #sec4 .social-list {
    gap: 20px;
    margin: 15px 11px 0 0;
    justify-content: flex-end;
  }
  #sec4 .social-list li {
    width: 39px;
  }
  #shopinfo {
    padding: 294px 20px 100px;
    position: relative;
    z-index: 2;
  }
  #shopinfo::before {
    height: 280px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 300px), 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 300px), 0% 100%);
  }
  #shopinfo::after {
    top: 0;
    left: 0;
    background: url("../img/index/shopinfo_deco1.png") no-repeat center top/100%;
    width: 1170px;
    left: 0;
    height: 1118px;
    z-index: -1;
  }
  #shopinfo .set1 {
    position: relative;
  }
  #shopinfo .set1::before {
    bottom: -200px;
    right: 0;
    background: url("../img/index/shopinfo_deco2.png") no-repeat center
      bottom/100%;
    width: 497px;
    height: 489px;
  }
  #shopinfo .set1 .set1-inner {
    display: flex;
  }
  #shopinfo .set1 .gr-left {
    max-width: 375px;
    width: 100%;
  }
  #shopinfo .set1 .logo {
    width: 194px;
    margin: 0 auto;
  }
  #shopinfo .set1 .logo img {
    width: 100%;
    height: auto;
  }
  #shopinfo .set1 .logo-txt {
    text-align: center;
    margin-top: 40px;
    letter-spacing: 0;
    line-height: 25px;
  }
  #shopinfo .set1 .tel-gr {
    margin: 42px auto 0;
  }
  #shopinfo .set1 .photo {
    margin-top: 60px;
  }
  #shopinfo .set1 .gr-info {
    margin: 104px 0 0 40px;
  }
  #shopinfo .set1 .gr-info dl,
  #shopinfo .set1 .gr-info .item {
    padding-bottom: 19px;
    font-size: 18px;
  }
  #shopinfo .set1 .gr-info dl *,
  #shopinfo .set1 .gr-info .item * {
    letter-spacing: 0;
  }
  #shopinfo .set1 .gr-info dl + dl,
  #shopinfo .set1 .gr-info dl.item,
  #shopinfo .set1 .gr-info .item + dl,
  #shopinfo .set1 .gr-info .item.item {
    margin-top: 10px;
  }
  #shopinfo .set1 .gr-info dl dt,
  #shopinfo .set1 .gr-info .item dt {
    min-width: 160px;
  }
  #shopinfo .set1 .gr-info .item {
    margin-top: 30px !important;
    font-size: 18px;
  }
  #shopinfo .set2 {
    margin-top: 93px;
    padding: 0 20px;
  }
  #shopinfo .set2 .wrap {
    padding: 92px 20px 79px;
  }
  #shopinfo .set2 .inner {
    display: flex;
    gap: 70px;
    max-width: 757px;
    margin: 0 auto;
  }
  #shopinfo .set2 .ttl {
    text-align: left;
    position: relative;
  }
  #shopinfo .set2 .ttl::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 19px);
    width: 1px;
    height: 74px;
    background: currentColor;
  }
  #shopinfo .set2 .photo {
    margin-top: 0;
  }
  #parking {
    padding: 0 0 270px;
    margin-top: -21px;
  }
  #parking::before {
    top: -220px;
    right: 0;
    left: unset;
    width: 808px;
    height: 463px;
  }
  #parking::after {
    width: 208px;
    height: 222px;
    top: 153px;
    right: calc(50% - 600px);
  }
  #parking .bg {
    -webkit-clip-path: polygon(
      0 0,
      100% 240px,
      100% 100%,
      0 calc(100% - 240px)
    );
    clip-path: polygon(0 0, 100% 240px, 100% 100%, 0 calc(100% - 240px));
    top: 0;
  }
  #parking .bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(166, 156, 122, 0.23);
  }
  #parking .bg::after {
    width: 490px;
    background-size: auto;
  }
  #parking .gr-main {
    display: flex;
    flex-direction: row-reverse;
    padding: 262px 0 0 0;
    justify-content: flex-end;
  }
  #parking .gr-txt {
    margin: 20px 0 0 53px;
  }
  #parking .ttl {
    text-align: left;
    margin: 0 auto;
    letter-spacing: 0.1em;
  }
  #parking .txt {
    margin-top: 40px;
    text-align: center;
  }
  #parking .gr-img {
    margin-top: 0;
    max-width: 550px;
  }
  #parking .img-txt {
    text-align: center;
    display: block;
  }
  #parking .img-txt .txt-inner {
    display: inline-block;
    letter-spacing: 0.05em;
    padding: 3px 10px 2px;
  }
  #parking .map {
    margin-top: 18px;
  }
  #parking .parking-slider {
    margin-top: 59px;
    display: flex;
    justify-content: center;
    gap: 22px;
  }
  #parking .parking-slider .slick-dots {
    left: unset;
    right: 10px;
  }
  #gmap {
    padding: 70px 20px 236px;
    margin-top: -15px;
  }
  #gmap::before {
    top: 35px;
    right: 0;
    width: 916px;
    height: 1282px;
  }
  #gmap .wrap {
    max-width: 1200px;
  }
  #gmap .ttl {
    padding: 0 0 0 98px;
    letter-spacing: 0.2em;
  }
  #gmap .ttl::before {
    top: -105px;
    left: -35px;
    width: 181px;
    height: 110px;
  }
  #gmap .map {
    height: 672px;
    filter: grayscale(1);
    margin-top: 30px;
  }
  #gmap .btn-list {
    margin-top: 23px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 21px;
  }
  #gmap .btn-list .btn-map a {
    border-radius: 0;
    text-align: left;
    font-size: 15px;
    min-width: 326px;
    padding: 15px 89px 12px;
  }
  #gmap .btn-list .btn-map a:hover {
    background: #555554;
    border-color: #555554;
  }
  #gmap .btn-list .btn-print {
    margin-bottom: -5px;
  }
  #gmap .btn-list .btn-print a {
    letter-spacing: 0.2em;
    font-size: 13px;
    text-decoration: underline;
    text-underline-offset: 9px;
  }
  #gmap .btn-list .btn-print a:hover {
    text-decoration: none;
  }
}
@media (min-width: 768px) and (max-width: 1400px) {
  #top #key .slick-dots {
    right: 270px;
  }
  #gmap .ttl::before {
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  #sec2 .set1 .gr-txt {
    margin-left: 30px;
    position: relative;
    z-index: 3;
  }
  #sec2 .set1 .sec2-slider img {
    max-width: 100%;
    height: auto;
  }
  #sec2 .set1 .set1-inner {
    justify-content: flex-end;
    padding-right: 20px;
  }
  #sec3 .inner {
    justify-content: flex-start;
  }
  #sec3 .photo img {
    max-width: 100%;
    height: auto;
  }
}
