#key {
  background: url("../img/shopping/kv.jpg") no-repeat center top/cover;
}

.ttl {
  font-size: 6.7vw;
  line-height: 1.5;
  letter-spacing: 0;
}

.ttl span {
  font-size: 120%;
}

@media only screen and (min-width: 768px) {
  .ttl {
    font-size: 50px;
    line-height: 80px;
  }
}

.df {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .df-sp {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .df-pc {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  #key img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.zoomOutner {
  overflow: hidden;
}

.imgZoomOut {
  -webkit-animation-name: imgZoomOut;
  animation-name: imgZoomOut;
  animation-duration: 2s;
  animation-delay: 0.3s;
}

@keyframes imgZoomOut {
  0% {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}

.slick-track {
  will-change: transform;
}

.slick-arrow {
  position: absolute;
  bottom: 0;
  font-size: 0;
  background: url("../img/menu/arrow.png") no-repeat center/100% auto;
  width: 40px;
  height: 40px;
  transition: 0s;
}

.slick-arrow:hover {
  background: url("../img/menu/arrow_active.png") no-repeat center/100% auto;
  transform: rotate(180deg);
}

.slick-arrow.slick-prev {
  transform: rotate(180deg);
}

.slick-arrow.slick-prev:hover {
  background: url("../img/menu/arrow_active.png") no-repeat center/100% auto;
  transform: rotate(0);
}

@media only screen and (min-width: 768px) {
  .slick-arrow {
    width: 65px;
    height: 65px;
  }
}

#sec1 {
  background: url("../img/shopping/sec1_deco1.png") no-repeat top center/150% auto;
  padding: 15vw 0 20vw;
  position: relative;
}

#sec1 h2 p:nth-child(1) {
  font-size: 80%;
}

#sec1 .sec1-txt {
  margin-bottom: 10vw;
}

#sec1 .sec1-txt p {
  margin-top: 5vw;
}

#sec1 .sec1-deco2 {
  position: absolute;
  bottom: 0;
  left: -5%;
  width: 50%;
}

@media only screen and (min-width: 768px) {
  #sec1 {
    background: none;
    z-index: 0;
    padding: 181px 0 272px;
  }

  #sec1:before {
    z-index: -1;
    position: absolute;
    content: "";
    background: url("../img/shopping/sec1_deco1.png") no-repeat top center;
    width: 1561px;
    height: 1269px;
    top: 0;
    left: calc(50% - 562px);
  }

  #sec1 .wrap {
    justify-content: space-between;
  }

  #sec1 .sec1-img {
    order: -1;
    width: 600px;
    margin-left: -176px;
  }

  #sec1 .sec1-info {
    width: 493px;
    margin-top: 196px;
  }

  #sec1 h2 {
    letter-spacing: 0;
    margin-right: -20px;
    margin-bottom: 58px;
  }

  #sec1 h2 p:nth-child(1) {
    font-size: 45px;
    line-height: 64px;
    letter-spacing: -3px;
  }

  #sec1 .sec1-txt {
    margin-bottom: 0;
    margin-left: 7px;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2px;
  }

  #sec1 .sec1-txt p {
    margin-top: 34px;
  }

  #sec1 .sec1-deco2 {
    bottom: -287px;
    left: calc(50% - 802px);
    width: 852px;
  }
}

@media screen and (max-width: 1080px) and (min-width: 768px) {
  #sec1 .sec1-info {
    margin-right: 30px;
  }
}

#sec2 {
  clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);
  background: url("../img/menu/bg6.jpg") no-repeat center top/100%;
  position: relative;
  z-index: 2;
  padding: 15vw 0 25vw;
  margin-top: -17vw;
}

#sec2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 16%;
  height: 100%;
  background: url("../img/shared/bg_deco1.png") repeat center center/75px auto;
}

#sec2 h2 {
  text-align: center;
  margin-bottom: 8vw;
}

#sec2 h2 span {
  font-size: 82%;
}

#sec2 h2 i {
  color: #28457f;
  font-style: normal;
}

#sec2 .sec2-item {
  width: 230px !important;
  margin: 0 5px;
  padding-top: 40px;
}

#sec2 .sec2-inner {
  border: 1px solid #aeada4;
  position: relative;
  background: url("../img/menu/bg5.jpg");
  z-index: 1;
}

#sec2 .sec2-num {
  position: absolute;
  color: rgba(238, 234, 224, 0.8);
  font-size: 70px;
  font-weight: 400;
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 1;
}

#sec2 .zoomOutner {
  position: relative;
  z-index: -1;
}

#sec2 .sec2-info {
  padding: 8vw 5vw;
}

#sec2 h3 {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  background: url("../img/shopping/sec2_deco.png") repeat-x left bottom/8px auto;
  padding-bottom: 20px;
  margin-bottom: 20px;
  letter-spacing: 0;
}

#sec2 .slide-sp2 {
  .slick-arrow {
    top: 5vw;
    z-index: 5;
    width: 12vw;
    height: 12vw;
  }

  .slick-prev {
    left: 4vw;
  }

  .slick-next {
    right: 4vw;
    left: unset;
  }
}

@media only screen and (min-width: 768px) {
  #sec2 {
    clip-path: polygon(0 18%, 100% 0%, 100% 82%, 0% 100%);
    padding: 292px 0 333px;
    margin-top: 0;
  }

  #sec2:before {
    width: calc(50% - 490px);
    background: url("../img/shared/bg_deco1.png") repeat center center;
  }

  #sec2 h2 {
    margin-bottom: 64px;
    font-size: 55px;
    letter-spacing: 5px;
  }

  #sec2 h2 span {
    font-size: 45px;
  }

  #sec2 .slide-sp2 {
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
  }

  #sec2 .sec2-item {
    width: calc((100% - 44px) / 3) !important;
    margin: 0;
    padding-top: 75px;
  }

  #sec2 .sec2-num {
    font-size: 139px;
    transform: translate(-50%, -60%);
  }

  #sec2 .sec2-info {
    padding: 40px 40px 69px;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
  }

  #sec2 h3 {
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    background: url("../img/shopping/sec2_deco.png") repeat-x left bottom;
    padding-bottom: 37px;
    margin-bottom: 36px;
    letter-spacing: 0;
  }

  #sec2 .sec2-txt {
    padding: 0 12px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
  #sec2 .sec2-info {
    padding: 40px 25px 69px;
  }
}

#sec3 {
  position: relative;
  z-index: 2;
  margin-bottom: 20vw;
}

#sec3 .sec3-deco1,
#sec3 .sec3-deco2 {
  position: absolute;
  z-index: -1;
}

#sec3 .sec3-deco1 {
  width: 24%;
  top: -26vw;
  left: 70%;
}

#sec3 .sec3-deco2 {
  width: 50%;
  top: 1vw;
  right: -5%;
}

#sec3 h2 {
  margin: 8vw 0 7vw;
  text-align: center;
}

#sec3 h2 p {
  display: inline-block;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #877a68;
  padding: 0 5vw;
  line-height: 1.7;
  font-size: 7vw;
}

#sec3 .sec3-item dl {
  background: url("../img/menu/bg5.jpg");
  margin: -10vw 0 0 auto;
  padding: 4vw 5vw 5vw;
  width: 90%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

#sec3 .sec3-item dt {
  font-size: 6vw;
}

#sec3 .slider-nav {
  margin-bottom: 5vw;
  margin-top: 10vw;
}

#sec3 .slider-nav .slick-track {
  transform: translate3d(0px, 0px, 0px) !important;
  width: 100% !important;
  display: flex;
  justify-content: flex-start;
}

#sec3 .slider-nav .slick-slide {
  width: calc((100% - 20px) / 3) !important;
}

#sec3 .slider-nav .slick-slide:not(:first-child) {
  margin-left: 10px;
}

#sec3 .slider-nav .sec3-thumb {
  background: #000;
}

#sec3 .slider-nav .sec3-thumb img {
  opacity: 0.5;
}

#sec3 .slider-nav .slick-current .sec3-thumb img {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  #sec3 {
    margin-bottom: 157px;
    margin-top: 80px;
    max-width: 1200px;
  }

  #sec3 .sec3-deco1 {
    width: 240px;
    top: -322px;
    left: auto;
    right: 244px;
  }

  #sec3 .sec3-deco2 {
    width: 649px;
    top: 100px;
    right: -235px;
  }

  #sec3 h2 {
    margin: 0;
    text-align: left;
    position: absolute;
    top: -109px;
    right: 67px;
  }

  #sec3 h2 p {
    border-width: 0 1px 0 1px;
    padding: 12px 0;
    line-height: 100px;
    letter-spacing: 2px;
    font-size: 45px;
  }

  #sec3 .sec3-slide {
    margin-right: 36px;
  }

  #sec3 .sec3-item .sec3-img {
    margin-right: 205px;
  }

  #sec3 .sec3-item dl {
    margin: -180px 0 0 auto;
    padding: 39px 20px 20px 98px;
    height: 330px;
    width: 571px;
  }

  #sec3 .sec3-item dt {
    font-size: 40px;
    margin-bottom: 12px;
  }

  #sec3 .sec3-item dd {
    width: 357px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
  }

  #sec3 .slider-nav {
    margin-top: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 527px;
    margin-bottom: auto;
  }

  #sec3 .slider-nav .slick-slide {
    width: calc((100% - 32px) / 3) !important;
  }

  #sec3 .slider-nav .slick-slide:not(:first-child) {
    margin-left: 16px;
  }

  #sec3 .slider-nav .sec3-thumb {
    cursor: pointer;
  }

  #sec3 .slider-nav .slick-current .sec3-thumb img {
    opacity: 1;
  }

  #sec3 .slider-nav .sec3-thumb:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  #sec3 h2 {
    right: 10px;
  }

  #sec3 .sec3-item dl {
    width: 500px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
  #sec3 h2 {
    right: 20px;
  }

  #sec3 .sec3-slide {
    margin-right: 40px;
  }

  #sec3 .sec3-item .sec3-img {
    margin-right: 110px;
  }

  #sec3 .sec3-item .sec3-img img {
    width: 100%;
    height: auto;
  }

  #sec3 .sec3-item dl {
    width: 410px;
    padding-left: 28px;
  }

  #sec3 .slider-nav {
    width: 510px;
  }
}

.shopping-box {
  padding: 0 var(--padding-wrap);
  position: relative;
  z-index: 1;
}

.shopping-box .box-inner {
  box-sizing: border-box;
  position: relative;
  padding: 14vw 5vw 15vw;
}

.shopping-box .box-inner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 10px solid rgba(111, 90, 68, 0.2);
  z-index: -1;
  background: url("../img/menu/sec7_bg.jpg");
}

.shopping-box .box-inner::after {
  content: "";
  position: absolute;
  top: 5vw;
  left: 5vw;
  background: url("../img/index/sec3_deco1_sp.png") no-repeat center top/100%;
  width: 12vw;
  height: 12vw;
  transform: rotate(270deg);
}

@media only screen and (min-width: 768px) {
  .shopping-box {
    padding: 0 30px 0;
  }

  .shopping-box .box-inner {
    margin: 0 auto;
    max-width: 1300px;
    padding: 92px 30px 94px;
  }

  .shopping-box .box-inner::before {
    border: 20px solid rgba(111, 90, 68, 0.2);
  }

  .shopping-box .box-inner::after {
    top: 48px;
    left: 50px;
    background: url("../img/index/sec3_deco1_sp.png") no-repeat center top/100% auto;
    width: 113px;
    height: 113px;
  }
}

#sec4 h2 {
  font-size: 6vw;
  line-height: 1.3;
  font-weight: 400;
}

#sec4 .sec4-txt {
  margin-bottom: 10vw;
}

#sec4 .sec4-txt p {
  margin-top: 5vw;
}

#sec4 .sec4-txt2 {
  text-indent: -16px;
  margin-left: 16px;
}

@media only screen and (min-width: 768px) {
  #sec4 .wrap {
    justify-content: space-between;
  }

  #sec4 .sec4-info {
    width: 400px;
  }

  #sec4 .sec4-img {
    width: 630px;
    margin-right: -100px;
  }

  #sec4 h2 {
    font-size: 40px;
    line-height: 55px;
    margin-top: 68px;
    margin-bottom: 51px;
    letter-spacing: 4px;
  }

  #sec4 .sec4-txt {
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 0;
  }

  #sec4 .sec4-txt p {
    margin-top: 35px;
  }

  #sec4 .sec4-txt2 {
    text-indent: -16px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 768px) {
  #sec4 .sec4-img {
    margin-right: -40px;
    width: 63%;
  }
}

@media screen and (max-width: 1240px) and (min-width: 768px) {
  #sec4 .wrap {
    max-width: inherit;
    align-items: flex-start;
  }

  #sec4 .box-inner {
    padding: 92px 50px 94px;
  }

  #sec4 .sec4-img {
    width: calc(100% - 400px);
    margin-right: 0;
  }

  #sec4 .sec4-img img {
    width: 100%;
    height: auto;
  }
}

#sec5 {
  background: url("../img/shopping/sec5_bg.png") no-repeat top center/130% auto;
  padding: 15vw 0;
  position: relative;
}

#sec5:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 60vw;
  background: var(--bg1);
  height: 20vw;
  z-index: -1;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

#sec5 .sec5-deco1 {
  position: absolute;
  width: 51%;
  top: 28vw;
  right: -12%;
}

#sec5 h2 {
  margin: 0 auto;
  border-right: 1px solid #877a68;
  border-left: 1px solid #877a68;
  line-height: 2;
  font-size: 6vw;
  padding: 3vw 0;
}

#sec5 .sec5-txt1 {
  margin: 5vw 0;
}

#sec5 .calendar {
  border: 1px solid #aeada4;
  background: url("../img/menu/sec6_bg.png");
  padding: 12vw 5vw 5vw;
  justify-content: space-between;
  text-align: center;
}

#sec5 .calendar .df:nth-child(1) dl {
  width: calc(100% / 3);
  margin-bottom: 30px;
}

#sec5 .calendar .df:nth-child(2) dl {
  width: calc(100% / 2);
}

#sec5 .calendar dl dt {
  background: rgba(255, 255, 255, 0.7);
  border-top: 1px solid #bab7a1;
  border-bottom: 1px solid #bab7a1;
  font-size: 4.2vw;
}

#sec5 .calendar dl dd {
  line-height: 1.7;
  margin-top: 5vw;
}

#sec5 .sec5-deco2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
}

@media only screen and (min-width: 768px) {
  #sec5 {
    background: url("../img/shopping/sec5_bg.png") no-repeat top center;
    padding: 122px 0 145px;
  }

  #sec5:after {
    width: calc(50% + 125px);
    height: 276px;
  }

  #sec5 .sec5-deco1 {
    width: 689px;
    top: 137px;
    right: -405px;
  }

  #sec5 h2 {
    line-height: 90px;
    font-size: 40px;
    padding: 14px 0;
  }

  #sec5 .sec5-txt1 {
    margin: 50px 0 61px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  #sec5 .calendar {
    padding: 88px 0 132px;
  }

  #sec5 .calendar .df-pc {
    justify-content: center;
    width: 874px;
    margin: 0 auto;
  }

  #sec5 .calendar .df:nth-child(1) {
    width: calc((100% / 5) * 3);
  }

  #sec5 .calendar .df:nth-child(1) dl {
    margin-bottom: 0;
  }

  #sec5 .calendar .df:nth-child(2) {
    width: calc((100% / 5) * 2);
  }

  #sec5 .calendar dl dt {
    font-size: 30px;
    line-height: 72px;
  }

  #sec5 .calendar dl dd {
    font-size: 20px;
    line-height: 40px;
    margin-top: 28px;
  }

  #sec5 .sec5-deco2 {
    left: calc(50% - 770px);
    width: 743px;
  }
}

.shopping-item {
  position: relative;
  z-index: 0;
  padding: 15vw 0;
}

.shopping-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 0;
  width: 16%;
  height: 100%;
  background: url("../img/shared/bg_deco1.png") repeat center center/75px auto;
}

.shopping-item h2 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 20vw;
}

.shopping-item h2 span:nth-child(1) {
  font-weight: 600;
}

.shopping-item ul li {
  border: 1px solid #d3c75d;
  background: url("../img/shopping/shopping_bg.png");
  box-sizing: border-box;
  padding: 20vw 5% 10vw;
  position: relative;
  font-size: 5vw;
  line-height: 1.75;
}

.shopping-item ul li:not(:last-child) {
  margin-bottom: 25vw;
}

.shopping-item ul li:not(:last-child):after {
  content: "";
  position: absolute;
  background: url("../img/shopping/shopping_arrow.png") no-repeat center/100% auto;
  bottom: 0;
  left: 50%;
  width: 43px;
  height: 40px;
  transform: rotate(90deg) translate(50%, 50%);
}

.shopping-item ul li .step {
  text-align: center;
  color: #fff;
  background: #d28518;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shopping-item ul li .step span {
  display: block;
  font-size: 150%;
}

.shopping-item .shopping-box2 {
  border: 1px solid #333;
  box-sizing: border-box;
  padding: 10vw 5vw;
  margin: 10vw 0;
}

.shopping-item .shopping-box2 dt {
  text-align: center;
  font-size: 5.5vw;
  margin-bottom: 3vw;
}

.shopping-item .shopping-box2 dd p+p {
  margin-top: 3vw;
}

.shopping-item .shopping-box {
  text-align: center;
}

.shopping-item .shopping-box .box-inner::after {
  transform: rotate(0);
  left: auto;
  right: 5vw;
}

.shopping-item .shopping-box .ttl {
  font-size: 5vw;
  letter-spacing: 0;
  margin-bottom: 5vw;
  font-weight: 400;
}

.shopping-item .shopping-box .tel {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  text-align: center;
  padding: 5vw 0;
  line-height: 1;
}

.shopping-item .shopping-box .tel .df {
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 6px;
}

.shopping-item .shopping-box .tel .df i {
  width: 16px;
  display: block;
  margin: 0 5px 5px;
}

.shopping-item .shopping-box .tel-txt2 {
  line-height: 1.5;
  font-size: 13px;
}

.shopping-item .shopping-box .tel-txt3 {
  color: #8f857f;
  font-size: 10px;
  letter-spacing: 0;
  margin-top: 5px;
}

@media only screen and (min-width: 768px) {
  .shopping-item {
    padding: 174px 0 150px;
  }

  .shopping-item:before {
    width: calc(50% - 500px);
    background: url("../img/shared/bg_deco1.png") repeat center center;
  }

  /*.shopping-item .wrap {
        max-width: 1068px; }*/
  .shopping-item h2 {
    margin-bottom: 132px;
    letter-spacing: 3px;
  }

  .shopping-item ul {
    justify-content: space-between;
  }

  .shopping-item ul li {
    width: calc((100% - 60px) / 4);
    padding: 98px 26px 45px;
    font-size: 20px;
    line-height: 35px;
  }

  .shopping-item ul li:not(:last-child) {
    margin-bottom: 0;
  }

  .shopping-item ul li:not(:last-child):after {
    bottom: auto;
    left: auto;
    top: -13px;
    right: -30px;
    transform: rotate(0) translate(0, 0);
    z-index: 1;
  }

  .shopping-item ul li .step {
    width: 114px;
    height: 114px;
    line-height: 30px;
    font-size: 20px;
    top: 7px;
  }

  .shopping-item .shopping-box2 {
    padding: 39px 57px 73px;
    margin: 90px auto 127px;
    max-width: 700px;
  }

  .shopping-item .shopping-box2 dt {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .shopping-item .shopping-box2 dd {
    font-size: 16px;
    line-height: 30px;
  }

  .shopping-item .shopping-box2 dd p+p {
    margin-top: 30px;
  }

  .shopping-item .shopping-box .box-inner {
    padding: 97px 30px 75px;
  }

  .shopping-item .shopping-box .box-inner:after {
    right: 50px;
  }

  .shopping-item .shopping-box .ttl {
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 42px;
  }

  .shopping-item .shopping-box .ttl span {
    font-size: 50px;
  }

  .shopping-item .shopping-box .tel {
    margin: 0 auto 60px;
    width: 535px;
    padding: 33px 0 36px;
  }

  .shopping-item .shopping-box .tel p:nth-child(1) {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
  }

  .shopping-item .shopping-box .tel .df {
    font-size: 51px;
    margin-top: 19px;
    margin-bottom: 16px;
    letter-spacing: 4px;
  }

  .shopping-item .shopping-box .tel .df i {
    width: 25px;
    display: block;
    margin: 0 25px 5px 0;
    position: relative;
    top: -3px;
  }

  .shopping-item .shopping-box .tel-txt2 {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0px;
  }

  .shopping-item .shopping-box .tel-txt3 {
    font-size: 13px;
    letter-spacing: 0;
    margin-top: 5px;
  }
}

.shopinfo-group {
  background: var(--bg3);
  color: #fff;
  clip-path: polygon(0 0, 100% 1.5%, 100% 100%, 0 98.5%);
  position: relative;
  margin-bottom: 5vw;
}

@media only screen and (min-width: 768px) {
  .shopinfo-group {
    clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
    margin-bottom: 240px;
  }
}

#sec7 {
  position: relative;
  padding: 15vw 4vw 0;
}

#sec7 .sec7-deco1 {
  position: absolute;
  width: 19%;
  z-index: 1;
  top: 12vw;
  right: 5%;
}

#sec7 .sec7-deco2 {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  right: -19%;
}

#sec7 .sec7-txt {
  margin: 5vw 0 7vw;
}

@media only screen and (min-width: 768px) {
  #sec7 {
    padding: 295px 0 0;
    max-width: 1200px;
    justify-content: space-between;
  }

  #sec7 .sec7-deco1 {
    width: 213px;
    top: 206px;
    right: -67px;
  }

  #sec7 .sec7-deco2 {
    width: 1292px;
    top: 0;
    right: -397px;
  }

  #sec7 .sec7-txt {
    margin: 55px 0 0 0;
  }

  #sec7 .sec7-img {
    order: -1;
    margin-left: -150px;
    width: 892px;
  }

  #sec7 .sec7-info {
    width: 365px;
    box-sizing: border-box;
    padding: 108px 45px 0 0;
  }

  #sec7 h2 {
    margin-left: -15px;
  }
}

@media screen and (max-width: 1170px) and (min-width: 768px) {
  #sec7 .sec7-img {
    width: calc(100% - 275px);
  }
}

#sec8 {
  padding: 15vw 0 20vw;
}

#sec8 ul li {
  color: #333;
}

#sec8 .shopping-box2 {
  border-color: #fff;
}

#sec8 .shopping-box,
#sec6 .shopping-box {
  color: #333;
}

#sec8 .btn-shared a,
#sec6 .btn-shared a {
  padding: 5vw 0;
  width: 100%;
  justify-content: center;
}

#sec8 .tel,
#sec6 .tel {
  margin: 5vw 0;
}

@media only screen and (min-width: 768px) {
  #sec8 {
    padding: 167px 0 220px;
  }

  #sec8 ul li {
    padding-bottom: 78px;
  }

  #sec8 .shopping-box2 {
    margin-bottom: 160px;
  }

  #sec8 .shopping-box .box-inner,
  #sec6 .shopping-box .box-inner {
    padding: 97px 30px 83px;
  }

  #sec8 .shopping-box .wrap,
  #sec6 .shopping-box .warp {
    max-width: 1000px;
  }

  #sec8 .shopping-box .ttl,
  #sec6 .shopping-box .ttl {
    margin-bottom: 52px;
  }

  #sec8 .shopping-box .df-pc,
  #sec6 .shopping-box .df-pc {
    justify-content: space-between;
    align-items: center;
  }

  #sec8 .shopping-box .tel-txt3,
  #sec6 .shopping-box .tel-txt3 {
    margin-top: 0;
  }

  #sec8 .btn-shared,
  #sec6 .btn-shared {
    width: 44%;
    max-width: 438px;
  }

  #sec8 .btn-shared a,
  #sec6 .btn-shared a {
    font-size: 20px;
    line-height: 30px;
    padding: 20px 0;
    border-radius: 50px;
  }

  #sec8 .tel,
  #sec6 .tel {
    margin: 0;
    width: 50%;
    padding: 33px 0 30px;
    order: -1;
  }

  #sec8 .tel .df,
  #sec6 .tel .df {
    margin-bottom: 10px;
  }

  #sec8 .tel-txt2,
  #sec6 .tel-txt2 {
    margin-top: 44px;
    font-size: 20px;
    line-height: 40px;
  }
}